<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
</head>
<body>
    <header>
        <h1>To Do</h1>
    </header>
    <main>
        {% for tarefa in tarefas  %}
            {% if not tarefa.done %}
                <div>
                    <h2>{{ tarefa.title }}</h2>
                </div>
            {% endif %}
        {% endfor %}
    </main>

</body>
</html>