{% extends 'global/base.html' %}
{% block title %}Home{% endblock title %}
{% block adicional %}
<div class="container">
    <div class="form-container">
        {% include 'todo/partials/form.html' %}
    </div>
    <div class="content-container">
        {% for tarefa in tarefas %}
            <div class="content">
                <p>{{tarefa.title}}</p>
                <a href="{% url 'todo:excluir' tarefa.id %}" class="icon-link"><i class="fas fa-square-xmark"></i></a>
                <a href="{% url 'todo:finalizar' tarefa.id %}" class="icon-link"><i class="fas fa-square-check"></i></a>
                <a href="{% url 'todo:detalhar' tarefa.id %}" class="icon-link"><i class="fas fa-square-pen"></i></a>
            </div>
        {% endfor %}
    </div>
    <div class="pagination-container">
        <div class="pagination">1.2.3...10.11</div>
    </div>
</div>
{% endblock %}