{% extends 'global/base.html' %}
{% block adicional %}
    <div class="page-name">
        <p>Cadastrar</p>
    </div>
    <div class="container">
        <div class="form-container">
            <p>
                Caso já possua uma conta, clique <a href="{% url 'usuarios:login' %}">aqui</a> para fazer login!
            </p>
            <form action="{{form_action}}" method="POST">
                {% csrf_token %}
                <div class="grid-container-login">
                    {% for field in form %}
                        <div class="input-container">
                            <label for="{{field.id_for_label}}">{{field.label}}</label>
                            {{field}}
                            <div>
                                {{field.help_text}}
                            </div>
                        </div>
                        {% if field.errors %}
                            <div class="message error">
                                {{field.errors}}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="button-container">
                    <button type="submit">Cadastrar</button>
                </div>
            </form>

        </div>
    </div>
{% endblock adicional %}
