<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="{{ form_action }}" method="POST">
        {% for field in form %}
            {% csrf_token %}
            <p><label for="{{ field.id_for_field }}"> {{ field.label }}</label></p>
            <p>{{ field }}</p>
            {% if field.help_text %}
                <p>{{ field.help_text }}</p>
            {% endif %}
            <p>{{field.errors}}</p>
        {% endfor %}
    </form>
</body>
</html>