{% extends 'global/base.html' %}
{% block title %}Login{% endblock title %}
{% block adicional %}
    <div class="page-name">
        <p>Login</p>
    </div>
    <div class="container">
        <div class="form-container">
            <p>
                Caso ainda não possui uma conta, clique <a href="{% url 'usuarios:cadastrar' %}">aqui</a> para se cadastrar!
            </p>
            <form action="{{form_action}}" method="POST">
                {% csrf_token %}
                <div class="grid-container-login">
                    {% for field in form %}
                        <div class="input-container">
                            <label for="{{field.id_for_label}}">{{field.label}}</label>
                            {{field}}
                        </div>
                    {% endfor %}
                </div>
                <div class="button-container">
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
{% endblock adicional %}

